@import "tailwindcss";

:root {
  --background: #ffe7c3;
  --background-image: url('/assets/city.png');
  --foreground: #000927;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #190425;
    --foreground: #ffffff;
  }
}

body {
  background-color: var(--background);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
